.square {
    box-sizing: border-box;
    border: 1px solid black;
    height: 6.25%;
    width: 6.25%;
    flex: 1 0 auto;
}

#square-grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    width: 90vh;
}

.black-background {
    background-color: black;
}

#create-button {
    margin: 0.5em auto;
    padding: 16px;
    border: 0;
    background-color: cornflowerblue;
    border-radius: 15px;
    display: block;
    font-size: large;
}
