.square {
    box-sizing: border-box;
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.column {
    display: flex;
    flex-direction: column;
}

#square-grid {
    display: flex;
}